@using FinancialAccounting.Models.Buildings

@model List<BuildingListItem>
@{
    ViewBag.Title = "Выбор объекта";
}

<div class="row">
    <div class="col-md-12">     
        @if (User.IsInRole("Admin"))
        {
            <h3 style="margin-left: 5px;text-align: right; float: right;">
                @Html.ActionLink("Создать новый объект", "CreateObject", "Building")
            </h3>
        }
        <hr style="clear:both;" />
    </div>
</div>

<div class="jumbotron">
    @BuildingList(Model)
</div>

@helper BuildingList(IEnumerable<BuildingListItem> buildings)
{
    <ul style="list-style-type: none">
        @foreach (var b in buildings)
        {
            <li>
                @Html.ActionLink(b.Name, "Index", "Building", routeValues: new {@id = b.Id}, htmlAttributes: new  { @class = "btn btn-primary" })                
            </li>
        }
    </ul>
}