@using FinancialAccounting.Models.Buildings

@model List<FinancialAccounting.Models.Buildings.BuildingListItem>
@{
    ViewBag.Title = "Выбор объекта";
}

<div class="jumbotron">
    @BuildingList(Model)
</div>

@helper BuildingList(IEnumerable<BuildingListItem> buildings)
{
    <ul style="list-style-type: none">
        @foreach (var b in buildings)
        {
            <li>
                @Html.ActionLink(b.Name, "Index", "Building", routeValues: new {@id = b.Id}, htmlAttributes: new  { @class = "btn btn-primary" })                
            </li>
        }
    </ul>
}