@{
    ViewBag.Title = string.Format("Платежи подрядчика '{0}'", "имя подрядчика");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left:5px;text-align:right;float:right;">
            @Html.ActionLink("Провести платёж", "CreatePaymentForContractor", "Building", routeValues: new { @contractorId = 2 }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <table style="text-align:center;">
        <tr style="text-align:center;">
            <th style="text-align:center;">Сумма платежа</th>
            <th style="text-align:center;">Дата проведения</th>
            <th style="text-align:center;">Комментарий к платежу</th>
        </tr>
        @for (int i = 1; i <= 5; i++)
        {
            <tr style="border-collapse: separate; border-spacing: 0 5px;">
                <td>
                    456.000.00
                </td>
                <td>
                    23.12.2016
                </td>
                <td>
                    Здесь может быть очень большой или очень лаконичный комментарий.
                </td>
            </tr>
        }
    </table>
    <hr style="clear:both;" />
    <table>
        <tr>
            <td><b>Итого уплачено:</b></td>
            <td>123.000.000</td>
        </tr>
    </table>
</div>