@using FinancialAccounting.Models
@model List<ApplicationUser>

@{
    ViewBag.Title = "Управление пользователями";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:left;float:left;">Управление пользователями</h2>
<h3 style="text-align:right;float:right;">@Html.ActionLink("Создать нового пользователя", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</h3>
<hr style="clear:both;" />

@UserList(Model)

@helper UserList(IEnumerable<ApplicationUser> users)
{
    foreach (var b in users)
    {
        <div class="form-group">
            @Html.ActionLink(b.UserName, "Manage", "Account", routeValues: new { @userId = b.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    }
}

