@model FinancialAccounting.Models.Biuldings.ManageBuildingViewModel
@{
    ViewBag.Title = "Управление объектом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Редактировать описание объекта", "Remove", "Account", routeValues: new { @buildingId = Model.BuildingMainInfo.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <h3 style="margin-left:5px;text-align:right;float:right;">
            @Html.ActionLink("Создать подрядчика", "Remove", "Account", routeValues: new { @buildingId = Model.BuildingMainInfo.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <table style="width: 100%;">
        <tr>
            <th>Название подрядчика</th>
            <th>Наличные рассчёты</th>
            <th>Безналичные рассчёты</th>
            <th>Дата платежа</th>
        </tr>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

